<li>
    {{burger_name}}
    <button class="change-devoured" data-id="{{id}}" data-newDevoured = "{{devoured}}">
    {{#if devoured}} already eaten... {{else}}Devour Burger!{{/if}}
    </button>
</li>