<li class = 'blue lighten-5'>
    {{burger_name}}
    <button class="change-devoured" data-id="{{id}}" data-newDevoured = "{{devoured}}">
    {{#if devoured}} already devoured... {{else}}Devour Burger!{{/if}}
    </button>
</li>